@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		font-weight: inherit;
	}

	h1 {
		@apply text-h1 font-medium;
	}

	h2 {
		@apply text-h2 font-medium;
	}

	h3 {
		@apply text-h3 font-medium;
	}

	h4 {
		@apply text-h4 font-medium;
	}

	h5 {
		@apply text-h5 font-medium;
	}

	h6 {
		@apply text-h6 font-medium;
	}

	p {
		font-size: inherit;
	}
}

@layer components {
	.text-display-lg,
	.text-display-md,
	.text-display-sm,
	.text-display-xs,
	.text-h1,
	.text-h2,
	.text-h3,
	.text-h4,
	.text-h5,
	.text-h6,
	.text-label-sm,
	.text-label-xs {
		@apply font-medium;
	}

	.text-label-xl,
	.text-label-lg,
	.text-label-md {
		@apply font-semibold;
	}

	.text-xl,
	.text-lg,
	.text-md,
	.text-sm,
	.text-xs {
		@apply font-normal;
	}
}

:root {
	--foreground-rgb: #07090d;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

body {
	@apply text-md h-full m-0 sm:overflow-auto md:overflow-auto bg-light text-secondary;
	font-family: 'Chakra Petch', sans-serif;
}

body * {
	@apply outline-none;
}
